.widget {
  align-items: flex-start;
  display: flex;
  flex: 1 1 370px;
  justify-content: center;
  max-height: 255.85px;
  position: relative;
}

.widget_link {
  aspect-ratio: 342/175;
  background-image: url("/assets/rectangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  max-height: 255.85px;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.widget_link h2 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 400;
  left: 16px;
  position: absolute;
  top: 16px;
}

.widget_link img,
.widget_loading {
  aspect-ratio: 1/1;
  display: flex;
  max-height: 200px;
  max-width: 200px;
  position: absolute;
  right: 0;
  top: -16px;
  width: 40%;
}

.widget_link h4 {
  bottom: 16px;
  color: rgba(235, 235, 245, 0.6);
  font-size: 13px;
  font-weight: 400;
  position: absolute;
}

.widget_link h4:nth-child(3) {
  left: 16px;
}

.widget_link h4:nth-child(4) {
  left: 56px;
}

.widget_link h3 {
  bottom: 32px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  left: 16px;
  position: absolute;
}

.widget_link h5 {
  bottom: 16px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 16px;
}

.widget_delete_btn {
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 4px;
  justify-content: center;
  margin: auto 0 0 8px;
  padding: 8px 2px;
}

.widget_delete_btn:disabled {
  visibility: hidden;
}

.widget_delete_btn_img {
  height: 16px;
  width: 16px;
  rotate: 90deg;
}

.widget_delete_btn_text {
  writing-mode: vertical-rl;
  white-space: nowrap;
}

@media screen and (max-width: 319px) {
  .widget_link h2 {
    font-size: 40px;
  }
}

@media (pointer: none), (pointer: fine) {
  .widget_delete_btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
